@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital@1&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

.volume {
    font-size: 56px;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box; */
/* } */
.time-element {
    font-size: 25px;
}

body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Manrope', sans-serif;
}
.accordion-button.collapsed {
    background-color: rgb(218, 236, 233);
    border-radius: 3%;
    font-size: 15pt;
}
#break-title {
    font-size: 50pt;;
}
#main-body{
    width: 100vw;
    height: 100vh;
    color: rgb(151, 151, 151);
    background-color: linear-gradient(-45deg, #EE7752, #E73C7E);
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
}
.break-page {
	background: linear-gradient(-45deg, #ffd89b , #ffd89b, #1e6594, #1e6594);
	background-size: 200% 200%;
	animation: gradient 10s ease-in-out infinite;
	height: 100vh;
    position: relative;
}
#bigGrid {
    height: 70vh;
    width: 100vw;
    display:grid;
    grid-template-columns: repeat(7, 14.2%);
    grid-template-rows: repeat(10, 10%);
}

#bigHeader {
    grid-column: 2 /span 5;
    grid-row: 1;
    margin-top: 20px;
}

#from {
    grid-column: 2;
    grid-row: 4;
    padding-top: 12%;
}
#to {
    grid-column: 2;
    grid-row: 6;
    padding-top: 12%;
}

#frombox {
    grid-column: 6 / 8;
    grid-row: 5;
}

.accordiongrid {
    display: grid;
    grid-template-columns: 30% 70%;
}

.accordionpic {
    grid-column: 1;
    background-image: url("..//background.jpg");
    width: 100%;
    max-width: 200px;
    height: auto;
    padding-top: 10%;
    padding-right: 5px;
}

.accordion-filler {
    padding: unset;
}

.accordion-description {
    grid-column: 2;
}


/* Toggle buttons for notificationtime.html */
.btn{
    white-space: nowrap;
    overflow: hidden;

}

.slider {
    width: 500%;
    height: 50vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slides {
    width: 100%;
    height: 50vh;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slides img {
    width: 80vw;
    height: 50vh;
    padding-bottom: 10vh;
    border-radius: 2%;
}

.navigation-manual {
    position: absolute;
    width: 96.5vw;
    margin-top: 230px;
    margin-left: -1920px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 13px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #40D3DC;
}

#radio1:checked ~ .first{
    margin-left: 50;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}
#profileImage{
    display: block;
}

#CustomProfileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #512DA8;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 150px;
    margin-top: 50px;
    display: None;
  }

#profileImage{
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
}

#main-body {
	background: linear-gradient(-45deg, #ffd89b , #ffd89b, #1e6594, #1e6594);
	background-size: 200% 200%;
	animation: gradient 10s ease-in-out infinite;
	height: 100vh;
    position: relative;
}

#log-in-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Andada Pro', serif;
    font-family: 'Lato', sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#desk-buddy {
	font-family: 'Andada Pro', serif;
    font-family: 'Lato', sans-serif;
	font-weight: bold;
}

#completed-body {
	background: linear-gradient(-45deg, #ffd89b , #ffd89b, #1e6594, #1e6594);
	background-size: 200% 200%;
	animation: gradient 10s ease-in-out infinite;
	height: 100vh;
    position: relative;
}